<div class="row justify-content-center footer-top">

    <div class="col-auto text-center">
        <h4>Join and support us!</h4>
        <a href="https://smile.amazon.com/ch/22-2945150" target="_blank">
            <img src="assets/images/amazonsmile.png" width="200px" style="margin-bottom: 1.2rem;">
        </a>
        <a class="footer-icon" href="https://www.facebook.com/njaryasamaj.mandir.9" target="_blank">
            <i class="fa fa-facebook-square"></i>
        </a>
        <a class="footer-icon" href="https://www.instagram.com/njaryasamaj/" target="_blank">
            <i class="fa fa-instagram"></i>
        </a>
    </div>

    <div class="col-auto offset-1">
        <h4>Preferences</h4>
        <button class="btn btn-primary" (click)="toggleBanner()">Toggle Banner</button>
    </div>
</div>