<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">NJ Arya Samaj Mandir Inc.</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">

        <!-- Navbar - Left Side Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active" data-toggle="collapse" data-target=".navbar-collapse.show">
                <a class="nav-link" [routerLink]="['home']">Home</a>
            </li>
            <li class="nav-item" routerLinkActive="active" data-toggle="collapse" data-target=".navbar-collapse.show">
                <a class="nav-link" [routerLink]="['library']">Library</a>
            </li>

            <!-- Scriptures Dropdown -->
            <li class="nav-item dropdown" routerLinkActive="active" data-toggle="collapse" data-target=".navbar-collapse.show">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Scriptures
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" [routerLink]="['scriptures', 'bhagavad-geetaa']">Bhagavad Geetaa</a>
                    <div class="dropdown-divider"></div>
                    <span class="dropdown-item-text font-weight-bold">Vedas</span>
                    <a class="dropdown-item" [routerLink]="['scriptures', 'veda-rig']">Rig Veda</a>
                    <a class="dropdown-item" [routerLink]="['scriptures', 'veda-yajur']">Yajur Veda</a>
                    <a class="dropdown-item" [routerLink]="['scriptures', 'veda-saama']">Saama Veda</a>
                    <a class="dropdown-item" [routerLink]="['scriptures', 'veda-atharva']">Atharva Veda</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" [routerLink]="['scriptures', 'upanishad']">Upanishad</a>
                </div>
            </li>
        </ul>

        <!-- Navbar - Right Side Links -->
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" routerLinkActive="active" data-toggle="collapse" data-target=".navbar-collapse.show">
                <a class="nav-link" [routerLink]="['bhajans']">Bhajans</a>
            </li>
            <li class="nav-item" routerLinkActive="active" data-toggle="collapse" data-target=".navbar-collapse.show">
                <a class="nav-link" [routerLink]="['prayers']">Prayers</a>
            </li>
            <li class="nav-item" routerLinkActive="active" data-toggle="collapse" data-target=".navbar-collapse.show">
                <a class="nav-link" [routerLink]="['sanskaara']">Sanskaara</a>
            </li>
        </ul>

    </div>
</nav>