<div class="row text-center footer-bottom">
    <div class="col-md-7 text-md-left d-none d-md-block">
        <p>&copy; NJ Arya Samaj Mandir, Inc. 2017-2019 - All Rights Reserved</p>
    </div>
    <div class="col-md-5 text-md-right">
        <p>Website developed Pro Bono by Pulkit Mittal</p>
    </div>
    <div class="col-md-7 text-md-left d-block d-md-none">
        <p>&copy; NJ Arya Samaj Mandir, Inc. 2017-2019 - All Rights Reserved</p>
    </div>
</div>

<!-- <div class="row text-center footer-bottom">
    <div class="col-md-5 text-md-left">
        <p>&copy; NJ Arya Samaj Mandir, Inc. 2017-2019</p>
    </div>
    <div class="col-md-5 offset-md-2 text-md-right">
        <p>Application developed Pro Bono by Pulkit Mittal</p>
    </div>
</div> -->