<div class="row justify-content-center">
    <div class="col-auto">

        <h2 class="text-center">Yajur Veda</h2>
        <div class="table-responsive-md">
            <table class="table text-center">
                <caption>Scriptures translated, interpreted, and explained by Pandit Sanjay</caption>
                <thead>
                    <tr>
                        <th scope="col">Chapter</th>
                        <th scope="col">Mantras</th>
                        <th scope="col">Rishi</th>
                        <th scope="col">Devataa</th>
                        <th scope="col">Chhanda</th>
                        <th scope="col">Synopsis</th>
                        <th scope="col">Explanation</th>
                        <th scope="col">Audio</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let section of yajur">
                        <td class="align-middle">{{ section.chapter }}</td>
                        <td class="align-middle">{{ section.mantras }}</td>
                        <td class="align-middle">{{ section.rishi }}</td>
                        <td class="align-middle">{{ section.devataa }}</td>
                        <td class="align-middle">{{ section.chhanda }}</td>
                        <td class="align-middle">
                            <a [href]="'scriptures/veda-yajur#' + section.chapter" class="anchor anchor-icon">
                                <i class="fa fa-file-text" aria-hidden="true"></i>
                            </a>
                        </td>
                        <td class="align-middle">
                            <a [href]="section.document" class="anchor anchor-icon" [ngClass]="{'anchor-disabled': disableResourceIcon(section.document) }" target="_blank">
                                <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                            </a>
                        </td>
                        <td class="align-middle">
                            <a [href]="section.audio" class="anchor anchor-icon" [ngClass]="{'anchor-disabled': disableResourceIcon(section.audio) }" target="_blank">
                                <i class="fa fa-file-audio-o" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-auto">

        <h2>Synopses</h2>

        <div *ngFor="let section of yajur">
            <a [name]="section.chapter">
                <h4>{{ "Chapter " + section.chapter }}</h4>
            </a>
            <p *ngFor="let paragraph of section.summary">{{ paragraph }}</p>
        </div>
    </div>
</div>