<div class="row justify-content-center footer-top">

    <!-- Social Media Column -->
    <div class="col-auto text-center">
        <h4>Join and support us!</h4>
        <a href="https://smile.amazon.com/ch/22-2945150" target="_blank">
            <img src="assets/images/amazonsmile.png" width="200px" style="margin-bottom: 1.2rem;">
        </a>
        <a class="footer-icon" href="https://www.facebook.com/njaryasamaj.mandir.9" target="_blank">
            <i class="fa fa-facebook-square"></i>
        </a>
        <a class="footer-icon" href="https://www.instagram.com/njaryasamaj/" target="_blank">
            <i class="fa fa-instagram"></i>
        </a>
    </div>

    <!-- Paypal Button -->
    <!-- <div class="col-auto">
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick" />
            <input type="hidden" name="hosted_button_id" value="3J8X2ZBXUX8RC" />
            <input type="hidden" name="hosted_button_id" value="89L2EXPC4UBMC" />
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
            <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
        </form>
    </div> -->

    <!-- Preferences Column -->
    <div class="col-auto offset-1">
        <fieldset class="form-group">
            <h4>Preferences</h4>
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" (click)="toggleBanner()">
                    Hide Banner
                </label>
            </div>
        </fieldset>
    </div>
</div>