<!-- Top Footer -->
<div class="row justify-content-center footer-top">

    <!-- Social Media Column -->
    <div class="col-auto text-center footer-container">
        <h4>Join and support us!</h4>
        <a class="footer-icon" href="https://www.facebook.com/njaryasamaj.mandir.9" target="_blank">
            <i class="fa fa-facebook-square"></i>
        </a>
        <a class="footer-icon" href="https://www.instagram.com/njaryasamaj/" target="_blank">
            <i class="fa fa-instagram"></i>
        </a>
        <a class="footer-icon" id="amazon-icon" href="https://smile.amazon.com/ch/22-2945150" target="_blank">
            <i class="fa fa-amazon" aria-hidden="true"></i>
            <!-- <img src="assets/images/amazonsmile.png" width="200px" style="margin-bottom: 1.2rem;"> -->
        </a>
        <br><br>
        <app-donate-via-paypal></app-donate-via-paypal>
    </div>

    <!-- Contact Information -->
    <div class="col-auto offset-lg-1 footer-container">
        <h4 class="text-center">Contact Details</h4><br>
        <div class="contact-card">
            <div class="footer-icon-container">
                <i class="fa fa-phone" aria-hidden="true"></i>
            </div>
            <p>+1 (973) 348-9843</p>
        </div>
        <div class="contact-card">
            <div class="footer-icon-container">
                <i class="fa fa-envelope" aria-hidden="true"></i>
            </div>
            <a href="mailto:njaryasamajmandir@gmail.com">
                <p>njaryasamajmandir@gmail.com</p>
            </a>
        </div>
        <div class="contact-card">
            <div class="footer-icon-container">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
            </div>
            <a [href]="location" target="_blank">
                <p>191-193 Woodlawn Avenue <br> Jersey City, New Jersey</p>
            </a>
        </div>
    </div>

    <!-- <div class="w-100 d-lg-none"></div> -->

    <!-- Preferences Column -->
    <div class="col-auto offset-lg-1 d-flex justify-content-center footer-container">
        <fieldset class="form-group text-center">
            <h4>Site Preferences</h4>
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" (click)="toggleBanner()" />
                    Hide Banner
                </label>
            </div>
        </fieldset>
    </div>
</div>

<!-- Bottom Footer -->
<app-sub-footer></app-sub-footer>