<div class="row justify-content-center">
    <div class="col-auto">

        <div class="table-responsive-md">
            <table class="table text-center">
                <caption>Scriptures translated, interpreted, and explained by Pandit Sanjay</caption>
                <thead>
                    <tr><th colspan=8>{{ mandala.overview }}</th></tr>
                    <tr>
                        <th scope="col">Mandala/Sukta</th>
                        <th scope="col">Mantras</th>
                        <th scope="col">Rishi</th>
                        <th scope="col">Devataa</th>
                        <th scope="col">Chhanda</th>
                        <th scope="col">Synopsis</th>
                        <th scope="col">Explanation</th>
                        <th scope="col">Audio</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let sukta of mandala.suktas">
                        <td class="align-middle">{{ generateTitle(sukta) }}</td>
                        <td class="align-middle">{{ sukta.mantras }}</td>
                        <td class="align-middle">{{ sukta.rishi }}</td>
                        <td class="align-middle">{{ sukta.devataa }}</td>
                        <td class="align-middle">{{ sukta.chhanda }}</td>
                        <td class="align-middle">
                            <a [href]="'scriptures/veda-rig/mandala/' + mandala.id + '#' + generateTitle(sukta)" class="anchor anchor-icon">
                                <i class="fa fa-file-text" aria-hidden="true"></i>
                            </a>
                        </td>
                        <!-- <td class="align-middle">
                            <a [href]="sukta.document" class="anchor anchor-icon" [ngClass]="{'anchor-disabled': disableResourceIcon(sukta.document) }" target="_blank">
                                <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                            </a>
                        </td>
                        <td class="align-middle">
                            <a [href]="sukta.audio" class="anchor anchor-icon" [ngClass]="{'anchor-disabled': disableResourceIcon(sukta.audio) }" target="_blank">
                                <i class="fa fa-file-audio-o" aria-hidden="true"></i>
                            </a>
                        </td> -->
                        <td class="align-middle">
                            <table-resource [link]="sukta.document" symbol="pdf"></table-resource>
                        </td>
                        <td class="align-middle">
                            <table-resource [link]="sukta.audio" symbol="audio"></table-resource>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

<div class="row">
    <div class="col">

        <h2>Synopses</h2>

        <div *ngFor="let sukta of mandala.suktas">
            <a [name]="generateTitle(sukta)">
                <h4>{{ generateTitle(sukta) }}</h4>
            </a>
            <p *ngFor="let paragraph of sukta.summary">{{ paragraph }}</p>
        </div>

    </div>
</div>