<div class="row">
    <div class="col">

        <h2>Humanitarian Work</h2><br>

        <p *ngFor="let paragraph of summary">{{ paragraph }}</p>
        
        <p>Under the leadership of Pt. Suresh Sugrim, New Jersey Arya Samaj started a Humanitarian Mission in Guyana with the sole purpose of helping the underprivileged get back on their feet and lead a life of dignity. For more details please visit <a class="anchor" href="http://www.njaryasamaj.com/" target="_blank">Humanitarian Mission of Guyana.</a></p>

    </div>
</div>