<div class="row">
    <div class="col">

        <h2>Humanitarian Work</h2><br>

        <p>Parbatie Etwaroo leads the food drive, wherein canned food is collected and then delivered to community food pantries feeding the homeless and under-privileged.</p>
        <p>Parbatie Etwaroo leads the clothing drive, wherein new & lightly used clothes are collected and then distributed to the homeless and under-privileged.</p>
        <p>Under the leadership of Pt. Suresh Sugrim, New Jersey Arya Samaj started a Humanitarian Mission in Guyana with the sole purpose of helping the underprivileged get back on their feet and lead a life of dignity. For more details please visit <a class="anchor" href="http://www.njaryasamaj.com/" target="_blank">Humanitarian Mission of Guyana.</a></p>

    </div>
</div>