<div class="row">
    <div class="col">
        <h3>Regular Service</h3>
        <p>Service is held every Sunday 9.00 AM to 11.30 AM. Prayer Service includes Meditation (Sandhya) followed by Hawan & Satsang.</p>
        <p>We are a 100% volunteer operated organization and do not charge money for Sanskars and Prayer Services.</p>
        <br><br>
        <h3>Special Requests</h3>
        <p>Special services can be arranged on request. Purohits available for Sanskars and other occassions.</p>
        <br><br>
    </div>

    <div class="w-100 d-md-none"></div>

    <div class="col">

        <h3>Upcoming Events</h3>

        <table class="table table-striped table-hover">
            <caption>Events hosted by the NJ Arya Samaj</caption>
            
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Event</th>
                    <th scope="col">Time</th>
                </tr>
            </thead>

            <tbody *ngFor="let eventGroup of eventGroups">
                <tr class="text-center"><th scope="rowgroup" colspan="3">{{ eventGroup.timePeriod }}</th></tr>
                <tr *ngFor="let event of eventGroup.events">
                    <td>{{ event.date }}</td>
                    <td>{{ event.name }}</td>
                    <td>{{ event.time }}</td>
                </tr>
            </tbody>
            
        </table>

    </div>
</div>