<div class="row">
    <div class="col col-lg-5">
        <h3>Regular Service</h3>
        <p>Service is held every Sunday morning from 9:00 - 11:30 AM. Prayer Service includes Meditation (Sandhya) followed by Hawan & Satsang.</p>
        <p>We are a 100% volunteer operated organization and do not charge money for Sanskars and Prayer Services.</p>
        <br><br>
        <h3>Special Requests</h3>
        <p>Special services can be arranged on request. Purohits available for Sanskars and other occassions.</p>
        <br><br>

        <div class="d-none d-lg-block">

            <h3>Past Events</h3>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Event</th>
                    </tr>
                </thead>
                <tbody *ngFor="let eventGroup of pastGroups">
                    <tr class="text-center"><th scope="rowgroup" colspan="3">{{ eventGroup.timePeriod }}</th></tr>
                    <tr *ngFor="let event of eventGroup.events.reverse()">
                        <td>{{ parseAsDate(event.date) | date:'MMMM d' }}</td>
                        <td>{{ event.name }}</td>
                    </tr>
                </tbody>
            </table>

        </div>

    </div>

    <div class="w-100 d-lg-none"></div>

    <div class="col col-lg-7">
        <h3>Upcoming Events</h3>

        <table class="table table-striped table-hover">
            <caption>All events hosted by the NJ Arya Samaj</caption>
            
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Event</th>
                    <th scope="col">Time</th>
                </tr>
            </thead>

            <tbody *ngFor="let eventGroup of upcomingGroups">
                <tr class="text-center"><th scope="rowgroup" colspan="3">{{ eventGroup.timePeriod }}</th></tr>
                <tr *ngFor="let event of eventGroup.events">
                    <td>{{ parseAsDate(event.date) | date:dateFormat }}</td>
                    <td>{{ event.name }}</td>
                    <td>{{ event.time }}</td>
                </tr>
            </tbody>
            
        </table>
    </div>

    <div class="w-100 d-lg-none"></div>

    <div class="col d-block d-lg-none">
        <h3>Past Events</h3>
        <table class="table table-striped table-hover">
            <caption>All events hosted by the NJ Arya Samaj</caption>
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Event</th>
                    <th scope="col">Time</th>
                </tr>
            </thead>
            <tbody *ngFor="let eventGroup of pastGroups">
                <tr class="text-center"><th scope="rowgroup" colspan="3">{{ eventGroup.timePeriod }}</th></tr>
                <tr *ngFor="let event of eventGroup.events.reverse()">
                    <td>{{ parseAsDate(event.date) | date:'MMMM d' }}</td>
                    <td>{{ event.name }}</td>
                    <td>{{ event.time }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-------------- iOS Testing Display -------------->
    <div class="w-100 d-lg-none"></div>

    <div class="col-12">
        <h3>All Events</h3>

        <table class="table table-striped table-hover">
            <caption>All events hosted by the NJ Arya Samaj</caption>
            
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Event</th>
                    <th scope="col">Time</th>
                </tr>
            </thead>

            <tbody *ngFor="let eventGroup of allGroups">
                <tr class="text-center"><th scope="rowgroup" colspan="3">{{ eventGroup.timePeriod }}</th></tr>
                <tr *ngFor="let event of eventGroup.events">
                    <td>{{ parseAsDate(event.date) | date:dateFormat }}</td>
                    <td>{{ event.name }}</td>
                    <td>{{ event.time }}</td>
                </tr>
            </tbody>
            
        </table>
    </div>
    
</div>