<div class="row justify-content-center">
    <div class="col-auto">

        <h2 class="text-center">Bhajans</h2><br>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Bhajan</th>
                    <th scope="col">Lyrics & Translation</th>
                    <th scope="col">Audio</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let bhajan of bhajans">
                    <td>{{ bhajan.name }}</td>
                    <td class="text-center">
                        <a href="" class="anchor"><i class="fa fa-file-text" aria-hidden="true"></i></a>
                    </td>
                    <td class="text-center">
                        <a href="" class="anchor"><i class="fa fa-file-audio-o" aria-hidden="true"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>