<div class="row text-center footer-bottom">
    <div class="col-md-7 text-md-left d-none d-md-block">
        <p>&copy; NJ Arya Samaj Mandir, Inc. {{ currentYear }}</p>
    </div>
    <div class="col-md-5 text-md-right">
        <p>Website developed Pro Bono by
            <a class="my-resume-plug" href="https://github.com/Ryo112358" target="_blank">Pulkit M</a>
        </p>
    </div>
    <div class="col-md-7 text-md-left d-block d-md-none">
        <p>&copy; NJ Arya Samaj Mandir, Inc. {{ currentYear }} - All Rights Reserved</p>
    </div>
</div>