<div class="row justify-content-center">
    <div class="col-md-10 col-lg-6">
        <h2>Executive Body</h2>
        <div class="spacer-vertical"></div>

        <table class="table table-sm">
            <tbody>
                <!-- Executives -->
                <tr class="text-center"><th scope="rowgroup" colspan="2">Executive Committee</th></tr>
                <tr *ngFor="let executive of executiveBody.executives">
                    <th scope="row">{{ executive.position }}</th>
                    <td>{{ executive.name }}</td>
                </tr>

                <!-- Trustees -->
                <tr class="text-center"><th scope="rowgroup" colspan="2">Trustees</th></tr>
                <tr *ngFor="let trustee of executiveBody.trustees">
                    <td colspan="2">{{ trustee }}</td>
                </tr>

                <!-- Purohits -->
                <tr class="text-center"><th scope="rowgroup" colspan="2">Purohits</th></tr>
                <tr *ngFor="let purohit of executiveBody.purohits">
                    <td colspan="2">{{ purohit }}</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>