<div class="row justify-content-center">
    <div class="col-md-6">
        <h2>Executive Body</h2>
        <div class="spacer-vertical"></div>

        <table class="table table-sm">
            <tbody>
                <!-- Executives -->
                <tr class="text-center"><th scope="rowgroup" colspan="2">Executive Committee</th></tr>
                <tr>
                    <th scope="row">President</th>
                    <td>Parbatie Etwaroo</td>
                </tr>
                <tr>
                    <th scope="row">Vice President</th>
                    <td>Jadubir Suchit</td>
                </tr>
                <tr>
                    <th scope="row">General Secretary</th>
                    <td>Pt. Sanjay Mittal</td>
                </tr>
                <tr>
                    <th scope="row">Treasurer</th>
                    <td>Ojaswini Suchit</td>
                </tr>
                <tr>
                    <th scope="row">Public Relations Officer</th>
                    <td>Harrychan Ramu</td>
                </tr>

                <!-- Trustees -->
                <tr class="text-center"><th scope="rowgroup" colspan="2">Trustees</th></tr>
                <tr>
                    <td colspan="2">Jadubir Suchit (Chairman)</td>
                </tr>
                <tr>
                    <td colspan="2">Parbatie Etwaroo</td>
                </tr>
                <tr>
                    <td colspan="2">Pt. Sanjay Mittal</td>
                </tr>

                <!-- Purohits -->
                <tr class="text-center"><th scope="rowgroup" colspan="2">Purohits</th></tr>
                <tr>
                    <td colspan="2">Pt. Siddhaartha Raamsaran</td>
                </tr>
                <tr>
                    <td colspan="2">Pt. Sanjay Mittal</td>
                </tr>

                <!-- Members -->
                <tr class="text-center"><th scope="rowgroup" colspan="2">Members</th></tr>
                <tr>
                    <td colspan="2">Bomatie Suchit</td>
                </tr>
                <tr>
                    <td colspan="2">Manwattie Bedessie</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>