<div class="row justify-content-center">
    <div class="col-auto">

        <h2 class="text-center">Atharva Veda</h2>
        <div class="table-responsive">
            <table class="table text-center">
                <caption>Scriptures translated, interpreted, and explained by Pandit Sanjay</caption>
                <thead>
                    <tr>
                        <th scope="col">Kaanda/Sukta</th>
                        <th scope="col">Mantras</th>
                        <th scope="col">Rishi</th>
                        <th scope="col">Devataa</th>
                        <th scope="col">Chhanda</th>
                        <th scope="col">Synopsis</th>
                        <th scope="col">Explanation</th>
                        <th scope="col">Audio</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let section of atharva">
                        <td class="align-middle">{{ generateTitle(section) }}</td>
                        <td class="align-middle">{{ section.mantras }}</td>
                        <td class="align-middle">{{ section.rishi }}</td>
                        <td class="align-middle">{{ section.devataa }}</td>
                        <td class="align-middle">{{ section.chhanda }}</td>
                        <td class="align-middle">
                            <a [href]="'scriptures/veda-atharva#' + generateTitle(section)" class="anchor anchor-icon">
                                <i class="fa fa-file-text" aria-hidden="true"></i>
                            </a>
                        </td>
                        <td class="align-middle">
                            <table-resource [link]="section.document" symbol="pdf"></table-resource>
                        </td>
                        <td class="align-middle">
                            <table-resource [link]="section.audio" symbol="audio"></table-resource>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-auto">

        <h2>Synopses</h2>

        <div *ngFor="let section of atharva">
            <a [name]="generateTitle(section)">
                <h4>{{ generateTitle(section) }}</h4>
            </a>
            <p *ngFor="let paragraph of section.summary">{{ paragraph }}</p>
        </div>
    </div>
</div>