<div class="row">
    <div class="col">
        <h2>Future Plans</h2>
        <p>The Executive Committee has envisioned to transform the Mandir into a cultural heritage center by 2023 with following goals:</p>
        <ul>
            <li>Daily prayer services.</li>
            <li>Cultural Educational for education for all promoting the Vaidik philosophy of humanity as a religion.</li>
            <li>Place for social gathering and exchange of social ideas.</li>
        </ul>
        <p>For this goal we will need to re-design and build a bigger Temple with a projected cost of $400,000. Please donate generously towards this cause.</p>
    </div>
</div>