.recently-updated-marker {
    position: relative;
    /* z-index: 1; */
}

.recently-updated-marker::after {
    content: 'NEW';
    color: whitesmoke;
    font-size: 8px;
    position: absolute;
    top: -10px;
    right: -16px;
    background-color: rgba(33, 37, 41, 1);
    padding: 2px;
    border-radius: 2px;
}