/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.anchor {
    cursor: pointer;
    color: inherit;
}

.anchor:hover {
    color: #E54158;
}

.anchor-icon {
    font-size: 2rem;
}

.anchor-disabled {
    pointer-events: none;
    opacity: 0.65;
}

.spacer-vertical-2 {
    height: 2rem;
}

.spacer-vertical-3, .spacer-vertical {
    height: 3rem;
}

/* -------------- Debugging Classes -------------- */
.bg1 {
    background-color: crimson;
}

.bg2 {
    background-color: purple;
}

.bg3 {
    background-color: forestgreen;
}

.bg4 {
    background-color: chocolate;
}

.bg5 {
    background-color: olivedrab;
}