/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

th {
    min-width: 5rem;
}

.anchor {
    cursor: pointer;
    color: inherit;
}

.anchor:hover {
    color: #E54158;
}

.anchor:focus {
    padding: 0.5rem .75rem;
    border: 2px dashed #343A40;
    color: #E54158;
    outline: none;
}

.anchor-icon {
    font-size: 2rem;
}

.anchor-disabled {
    pointer-events: none;
    opacity: 0;
}

.spacer-vertical-2 {
    height: 2rem;
}

.spacer-vertical-3, .spacer-vertical {
    height: 3rem;
}

/* -------------- Bootstrap Overrides -------------- */

.nav-pills .nav-link {
    /* max-width: 2.5rem; */
    color: #E54158;
}

.nav-pills .nav-link:hover {
    color: rgb(172, 22, 42);
}

.nav-pills .nav-link:focus:not(.active) {
    outline: none;
    /* border: 2px dashed #E54158; */
    box-shadow: inset 0px 0px 0px 2px #E54158;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: white;
  background-color: #E54158;
  outline: none;
}

/* -------------- Debugging Classes -------------- */
.bg1 {
    background-color: crimson;
}

.bg2 {
    background-color: purple;
}

.bg3 {
    background-color: forestgreen;
}

.bg4 {
    background-color: chocolate;
}

.bg5 {
    background-color: olivedrab;
}